:root {
    --primary-color:#070b28;
  
  }

  .cursor{
    cursor: pointer;
  }
  .no-list-style{
    list-style: none;
  }
  .center-icon{
   background-color:red;
   padding: 12px;
   border-radius: 50%;
  }

  .padding-top{
    padding-top: 14px;
  }

  .icons{
    display: flex;
    align-self: end;
    
  }