.mainwrapper {
  width: 100%;
  position: relative;
  padding-top: 81px;
  height: 100vh;
  padding-bottom: 60px;
  background-color: var(--primary-color);
}

.header {
  color:var(--white-color);

  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.footer {
  color:var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
 
  /* background-color: var(--primary-color); */
}
.logo {
  z-index: 1;
}
.main {
  background-color: var(--white-color);
  border-radius: 35px;
  position: relative;

  padding: 45px 12px 25px;
  height: 90%;
  overflow: auto;
}

.maindetails {
 
 
  position: relative;
  overflow: hidden;
  height: 80%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}

.menu{
    display: flex;
    justify-content: space-between
}
ul{
    padding-inline-start: 0;
}