.mainwrapper{
    width:100%;
    position: relative;
    padding-top: 90px;
}

.header{
    color: white;
   
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding:20px;
    position: absolute;
    left: 0;
    top:0;
    right:0;
  
}

.logo{
z-index: 1;

}
.main{
background-color: white;
border-radius: 35px;;
position: relative;
padding: 45px 12px 25px;

}